
@{
    ViewBag.Title = "Admin AnaSayfa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="block-header">
    <h2>ANA SAYFA</h2>
</div>
<!-- Widgets -->

<div class="row clearfix">

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="@Url.Action("Index","AdminMakale")">
            <div class="info-box bg-pink hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">playlist_add_check</i>
                </div>
                <div class="content">
                    <div class="text">MAKALE SAYISI  (@ViewBag.MakaleSayisi)</div>
                    <div class="number count-to" data-from="(@ViewBag.MakaleSayisi)" data-to="" data-speed="15" data-fresh-interval="20"></div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="@Url.Action("Index","AdminKategori")">
            <div class="info-box bg-cyan hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">help</i>
                </div>
                <div class="content">
                    <div class="text">KATEGORİ SAYISI  (@ViewBag.KategoriSayisi)</div>
                    <div class="number count-to" data-from="0" data-to="@ViewBag.KategoriSayisi" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </a>
    </div>
</div>
